body {
  background-color: black;
  font-family: regular, sans-serif;
}


.main-content {
  display: grid;
  grid-template-columns: repeat (autofill, minmax(20em, 1fr));
  grid-template-rows: repeat(95, 1fr);
  grid-gap: 1em;
}

.one {
  
  background-color: black;
  grid-column: span 2;
  grid-row: span 50;
  background:  
    linear-gradient(
      rgba(0, 0, 200, 0.45), 
      rgba(0, 0, 200, 0.45)
    ),
  url("images/thedarkcrystal.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  position: fixed;
  margin: 0 auto 0 .6em;
  text-align: center;
  font-size: 9em;
  background: -webkit-linear-gradient(yellow, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.two {
  background-color: transparent;
  color: white;
  grid-column: span 1;
  grid-row: span 50;
  background: url("images/Aughra.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.three {
  background-color: white;
  grid-column: span 1;
  grid-row: span 50;
  background: url("images/thedarkcrystal.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

