* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: regular, sans-serif;
  padding: 0;
}

.main-content {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "header header"
  "header header"
  "boxone boxtwo";
  grid-gap: .5em;
}

.one {
  background-color: black;
  background:  
    linear-gradient(
      rgba(0, 0, 200, 0.45), 
      rgba(0, 0, 200, 0.45)
    ),
  url("images/thedarkcrystal.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  grid-area: header;
}

li {
  display: inline-block;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding-top: 1em;
}

.header-buttons, a {
  display: inline-block;
 
}

a {
  margin-left: .5em;
}

.button {
  background-color: #4b4545;
  border-radius: 1em;
  border: none;
  color: white;
  outline: none;
  padding: 1em 1.2em 1em 1.2em;
}

.button:hover {
  background-color: #2f5651;
}

input {
  background-color: #4b4545;
  border: none;
  margin: 0 1em 0 .1%;
  outline: none;
  padding: .9em;
}

input:hover {
  background-color: #2f5651;
}

::-webkit-input-placeholder { 
  color: white;
}

.fa-circle {
  color: #00db1d;
  padding-right: .7em;
}

h1 {
  background: -webkit-linear-gradient(yellow, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9em;
  margin: 4em .2em 0 .2em;
  text-align: center;
}

.two {
  background: url("images/Aughra.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  color: yellow;
  flex-direction: column;
  font-family: sans-serif;
  grid-area: boxone;
  justify-content: center;
  width: 100%;
}

.facts {
  margin: 2.5em 0 0 2em;
}

.movie-facts {
  font-size: 2em;
  margin: 2em 2em 0 1.4em;
}

.list {
  margin: 1em 8em 0 3em;
  text-align: left;
}

li {
  padding-top: 3.5em;
}

.three {
  background: url("images/thedarkcrystal.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: yellow;
  font-family: sans-serif;
  grid-area: boxtwo;
}

.bio {
  margin-top: 2.5em;
}

.title {
  font-size: 3em;
  margin-bottom: .5em;
  text-align: center;
}

.jim-henson {
  background:  
    linear-gradient(
      rgba(0, 0, 100, 0.45), 
      rgba(0, 0, 100, 0.45)
    );
  font-size: 1.5em;
  line-height: 2em;
  margin: auto;
  width: 20em;
}



